{% for product in products %}
    <div class="col-md-3 col-sm-4 col-6">
        <div class="productsList--item">
            <a href="{% url 'product_detail' product.pk %}">
                <div class="productsList--item--image">
                    {% for p_image in product.images.all %}
                        <img src="{{ p_image.image.url }}" width="200" height="200" alt="{{ product.name }}">
                    {% endfor %}
                </div>
            </a>
            <div class="productsList--item--info">
                <div class="productsList--item--title">
                    {{ product.name }}
                </div>
                <div class="productsList--item--price">
                    <strong class="font-weight-bold"> {{ product.price }} </strong>
                    <span class="small">so'm</span>
                </div>
                <div class="productsList--item--orders">
                    Buyurtmalar: 2710
                </div>
            </div>
        </div>
    </div>
{% endfor %}
